.wrapper {
    margin-top: 7rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    
  }
  
  body {
    display: flex;
    justify-content: center;
  }
  